/* Header */
header{
    width: 1440px;
    margin: 0 auto;
    padding: 40.89px 117px 100.26px 69px;
    background-color: #F5F5F5;
}
.Header_logo{
    vertical-align: middle;
}
nav{
    display: inline-block;
    vertical-align: middle;
    margin-left: 312px;
}
li{
    display: inline-block;
    font-family: 'Nerko One';
    font-weight: 400;
    font-size: 32px;
    color: #0F5009;
}
.shop_class{
    margin: 0 83px;
}
.about_class{
    margin-right: 83px;
}
.blog_class{
    color: #FA1A35;
}
/* Section */
section{
    width: 1440px;
    margin: 0 auto;
    padding: 110px 57px 154px 69px;
    background-color: #1F6519;
}
div{
    display: inline-block;
    vertical-align: top;
    width: 448px;
    color: #FFFFFF; 
    margin-left: 96px;
}
h3{
    margin-left: 114px;
    font-family: 'Nerko One';
    font-size: 36px;
    font-weight: 400;
}
p{
    margin-top: 35px;
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
/* Article */
article{
    width: 1440px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 92px 216px 137px 207px;
}
h2{
    text-align: center;
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    color: #0F5009;
}
.article_p{
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #1F6519;
}

